*{
    margin: 0;
    padding: 0;
}
 
.whatwe{
    width:90%;
    margin: auto;
    text-align: center;
     
}
.whatwe h1{
    color:#005a8c;
}
.whatwe p{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;  
}
.whatwe h3{
    font-size: 36px;
    font-weight: 600;
}
.row{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.coursecol{
    flex-basis: 31%;
    background: #005a8c;
    
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: white;
    transition: 0.5s;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.coursecol:hover{
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.5);
    
}
@media(max-width: 700px){
    .row{
        display: block;
    }
}